<!DOCTYPE html>
<!-- Very simple webpage that scales decently -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>rep_SNAME</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	
	<style type="text/css">
		body{
			font-family: 'Roboto', sans-serif;
			position: fixed;
  			top: 40%;
 			left: 50%;
  			transform: translate(-50%, -50%);
			background-color: #E9E9E9;
		}
		
		.header{
			font-weight: 700;
			padding: 10px;
			text-align: center;
			background-color: rep_PCOLOUR;
			box-shadow:2px 2px 5px #888;
		}
		
		.content{
			font-weight: 400;
			padding: 6%;
			text-align: center;
			background-color: rep_SCOLOUR;
			box-shadow:2px 2px 5px #888;
		}
	</style>
	
</head>
<body>
	<div class="header">
		<h1>rep_SNAME</h1>
	</div>
	<br />
	<div class="content">
		<p>rep_URL is being worked on by rep_DEVNAME!</p> <!-- See README for keywords -->
	</div>
</body>
</html>